h3 {


color: rgba(0, 119, 255, 0.947);
font-size: 50px;
font-weight: bold;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-style: italic;
text-decoration: underline;


}


#Button {


background-color: aliceblue;
size: 35px;

}


#Button:hover {


    background-color: crimson;
    size: 35px;

    
}
    
canvas {

border: solid black;


}